@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import "./sidebar.css";
@import "./postlist.css";
@import "./post.css";
@import "./markdown.css";
@import "./searchbar.css";
@import "./projects.css";

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fffbfb;
}


* {
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif;
}

.header-square{
  transition-duration: 350ms;
  width: 15%;
  height: .7rem;
  position: relative;
  bottom: .7rem;
  background-color: rgba(143, 24, 24, 0.486);
}

/*
    ROOT CONTENT
*/
.root-wrapper{
  display: grid;
  grid-template-columns: 320px auto;
}
.root-content-body-wrapper{
  display: grid;
  position: relative;
  grid-template-columns: auto 250px;
  max-height: 100vh;
  overflow-y: scroll;
}



.root-content-body{
  max-height: 100vh;
}

.root-content-body{
  padding: 2rem;
  padding-top: 2rem;
}
.root-content-body > .root-content-body-container{
  padding-top: 2rem;
}

.root-side-body {
  background-color: #330033;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='9.5'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='25'/%3E%3Ccircle cx='539' cy='269' r='25'/%3E%3Ccircle cx='603' cy='493' r='25'/%3E%3Ccircle cx='731' cy='737' r='25'/%3E%3Ccircle cx='520' cy='660' r='25'/%3E%3Ccircle cx='309' cy='538' r='25'/%3E%3Ccircle cx='295' cy='764' r='25'/%3E%3Ccircle cx='40' cy='599' r='25'/%3E%3Ccircle cx='102' cy='382' r='25'/%3E%3Ccircle cx='127' cy='80' r='25'/%3E%3Ccircle cx='370' cy='105' r='25'/%3E%3Ccircle cx='578' cy='42' r='25'/%3E%3Ccircle cx='237' cy='261' r='25'/%3E%3Ccircle cx='390' cy='382' r='25'/%3E%3C/g%3E%3C/svg%3E");
  
  
  
  clip-path: polygon(69% 12%, 100% 0, 100% 100%, 60% 91%, 85% 72%, 51% 55%, 90% 36%);
  animation-name: root-side-body-anim;
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-direction: alternate-reverse;
  animation-delay: 350ms;
  animation-timing-function: linear;
}

@keyframes root-side-body-anim{
  0%{
    clip-path: polygon(65% 11%, 100% 0, 100% 100%, 85% 42%, 86% 23%);

  } 
  25%{
    clip-path: polygon(81% 15%, 100% 0, 100% 100%, 72% 50%, 84% 38%);

  }
  50%{
    clip-path: polygon(89% 26%, 100% 0, 100% 100%, 73% 63%, 89% 50%);

  }
  100%{
    clip-path: polygon(89% 54%, 100% 0, 100% 100%, 90% 77%, 76% 59%);

  }

}

.root-content-body > .root-header{
    font-size:  4rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
  .root-wrapper{
    display: block;
  }
  .root-content-body-wrapper{
    display: block;
    overflow: visible;
  }
  
  
}