
.post-list a.post-list-item {
  display: block;
  text-decoration: none ;
  color: rgb(37, 35, 35);
  padding: 1rem;
  border-radius: 15px;
  transition-duration: 350ms;
}

/**
  POST LIST STYLES
*/
.post-list a.post-list-item:hover {
  border: none;
  box-shadow: 1px 1px 20px -5px black;
    
}


.post-list a.post-list-item h3{
  font-size: 1.7rem;

}
.post-list a.post-list-item:hover .header-square{
  width: 32%;
}