<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://kit.fontawesome.com/ca4d981e2c.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ page.title }}</title>
</head>

<body>
  <div class="root-wrapper">
    {% include sidebar.html %}
    <div class="root-content-body-wrapper">
      {{ content }}
      <div class="root-side-body">
        <div class="in"></div>
      </div>
    </div>
    <div>


    </div>
  </div>

</body>

</html>