---
layout : default
---

<div class="post-content">

  <div class="post-content-header">
    <p>
      {{ page.title }}
    </p>
    <div class="categories">
      {% for category in page.categories %}
      <a href="/index.html?search=category:{{category}}"> {{category}} </a> <a class="delim" style="opacity: .4;">|</a>
      {% endfor %}
    </div>
    <p class="title-date">
      {{ page.date | date_to_long_string }}
    </p>
    <div class="clear"></div>
  </div>

  <div class="post-content-body">

    <div class="post-content-body-main">
      {{
        content
      }}

    </div>
    {% include post-pagination.html %}

    {% include disqus.html %}
  </div>
</div>